* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
    background-color: #F2EEEB;
}

/* START OF HEADER */

header {
    grid-area: header;
    background-color: rgb(226, 224, 224);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    width: 100%;
    margin-top: 0;
    padding: 2rem 0;
}

header p {
    margin: 0 2.5rem;
}

header a {
    /* box-shadow: 10px 5px 5px rgb(176, 176, 176); */

    /* display: inline-flex; */
    margin: 0 2.5rem;
    text-decoration: none;
    color: rgb(69, 62, 62);
    transition: all 150ms ease-in-out;
    padding: .3rem;
    border-radius: 10%;
}

nav :hover {
    font-weight:900;
    color: rgb(255, 255, 255);
    text-shadow: 10px 5px 5px rgb(176, 176, 176);
    letter-spacing: .1rem;
}

header a:nth-last-child(1) {
    margin-right: 5rem;
}

/* END OF HEADER */


.blogDiv {
    text-align: center;
    margin: -1rem 3rem;
    background-color: #d2b49c;
    width: 30%;
    height: 10rem;
    border-radius: 1%;
    border: solid #8a7767 1.5px;
    transition: all 80ms;
    
    /* #9cb1d2 */
}

.blogDiv h2 {
    margin: 3rem;
}

.blogDiv:first-of-type {
    margin-top: 3rem;

}

.blogDiv:nth-child(odd) {
    background-color: #9cb1d2;

}

.blogDiv:hover {
    box-shadow: 15px 15px 5px rgb(176, 176, 176);
    margin: 3rem 3rem;
}

/* END OF BLOG DIV */


/* START OF WRITE BLOG */

.postBlogDiv {
    text-align: center;
    margin: 4rem auto;
    background-color: #d2b49c;
    width: 60%;
    height: 42rem;
    border-radius: 1%;
    border: solid #8a7767 1.5px;
    transition: all 100ms ease-in-out;
    box-shadow: 15px 15px 5px rgb(176, 176, 176);

}

.postBlogDiv p {
    font-size: 2rem;
    font-weight: bolder;
    margin: 3rem auto 2rem auto;
    letter-spacing: .3rem;
    color: #2f2f2f;
}

.postBlogDiv #blogTitle {
    padding: 1rem 30rem 1rem 1rem;
    font-size: 1rem;
}
.postBlogDiv #blogText {
    margin-top: 1rem;
    padding: 1rem 30rem 18rem 1rem;
    font-size: 1rem;
}

#blogTitle:focus {
    box-shadow: 6px 6px 5px rgb(0, 0, 0);
}

#blogText:focus {
    box-shadow: 6px 6px 5px rgb(0, 0, 0);
}

form #blogTitle, #blogText {
    text-align: left;
    font-size: large;
    padding: 1rem 5rem 1rem 1rem;
    margin: 1rem;
    transition: all 120ms ease-in-out;
}

form button {
    border-radius: 8%;
    margin: .5rem 1rem;
    padding: 1.5rem;
    font-size: 1.3rem;
    background-color: #F2EEEB;
    letter-spacing: .1rem;
}

button:active {
    background-color: #ccc9c6;
}

footer {
    padding: 3%;
    margin-top: 4rem;
}

footer a {
    text-decoration: none;
    color:  rgb(69, 62, 62);
    margin-left: 1rem;
}


footer {
    background-color: rgb(202, 202, 202);
}